/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: poppins;
}

/* ------------basic reset---------- */

p {
    line-height: 30px;
}
div, section, li {
    box-sizing: border-box;
}

ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}


/* smooth scrolling */
/* html {scroll-behavior: smooth;} */



/* header */


nav {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.null img {
    width: 100px;

}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.logo img {
    width: 200px;
}


.search {
    width: 300px;
    height: 40px;
    font-size: 20px;
    position: relative;
}

.search-icon {
    position: absolute;
    width: 50px;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
}


/* container */

.menu-tab {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    color: #fff;
    height: 70px;
}


.menu-tab li {
    width: 100%;
    padding: 2px;
    border-right: 1px #fff solid;
    text-align: center;
    
}
.menu-tab li:last-child {
    border: none;
}

.menu-tab li p {
    cursor: pointer;
}


.menu-tab li p:hover {
    text-decoration:underline;
}

.goods-content {
    padding: 50px 0px;
}

.goods-content h4{
    font-size: 30px;
    margin-bottom: 30px;
}

.special-goods-box, .Statue-goods-box, .Figure-goods-box
, .T-shirt-goods-box, .Uniform-goods-box, .Shoes-goods-box
, .Poster-goods-box , .Accesory-goods-box
{
    padding: 15px 0px;
    text-align: center;
}

.Statue-goods, .Figure-goods, .T-shirt-goods,
.Uniform-goods, .Shoes-goods, .Poster-goods,
.Accesory-goods{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.goods-wrap {
    position: relative;
    padding: 20px;
    width: 33.3%;
}

.goods-wrap img{
    width: 100%;
}

.icons img{
    width: 50%;
}

.icons {
    width: 60%;
}


.goods-wrap p {
    padding: 0 20px;
}

.goods-hover {
    padding: 50px;
    position: absolute;
    background-color: #00000025;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    justify-content: center;
    align-items: flex-end;
    transition: .5s;
}

.goods-hover:hover {
    opacity: 1;
}

.icons {
    cursor: pointer;
}

.goods-hover img {
    width: 50%;
    margin: 0 auto;
}



/*----------------- utility Class -----------------*/
.padding {
    padding: 50px;
}

.flex-c-ab {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fixed {
    transform: translateY(-90px);
}

.lineadd {
    width: 100%;
}

.w-center {
    margin: 0 auto;
    width: 60%;
}

.m-center {
    margin: 0 auto;
    width: 90%;
}

.slider-wrap {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 40vh;
}

.slider {
    position: absolute;
}

.sliders {
    width: 60vw;
    height: 40vh;
}

.sliders1 {
    background-color: bisque;
}

.sliders2 {
    background-color: rgb(98, 200, 139);
}

.sliders3 {
    background-color: rgb(248, 133, 204);
}

/*----------------- utility Class -----------------*/

